---
// Import the necessary dependencies from individual component files
import EmailInput from "./input/EmailInput.astro";
import PasswordInput from "./input/PasswordInput.astro";
import Checkbox from "./input/Checkbox.astro";
import GoogleBtn from "../buttons/GoogleBtn.astro";
import AuthBtn from "../buttons/AuthBtn.astro";

const config = {
  // Modal identifier
  id: "hs-toggle-between-modals-register-modal",

  // Main title
  title: "Sign up",

  // Subtitle text
  subTitle: "Already have an account?",

  // Text and target link for the login button
  loginBtn: "Sign in here",
  loginBtnDataHS: "#hs-toggle-between-modals-login-modal"
};
---

<div
  id={config.id}
  class="hs-overlay absolute start-0 top-0 z-50 hidden h-full w-full hs-overlay-backdrop-open:bg-neutral-900/90"
>
  <div
    class="m-3 mt-0 opacity-0 transition-all ease-out hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:mx-auto sm:w-full sm:max-w-lg"
  >
    <div class="mx-auto w-full max-w-md p-6">
      <div
        class="mt-7 max-h-full overflow-hidden rounded-xl border border-neutral-200 bg-neutral-100 shadow-sm dark:border-neutral-700 dark:bg-neutral-800"
      >
        <div class="p-4 sm:p-7">
          <div class="text-center">
            <h1
              class="block text-2xl font-bold text-neutral-800 dark:text-neutral-200"
            >
              {config.title}
            </h1>
            <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
              {config.subTitle}
              <button
                class="rounded-lg p-1 font-medium text-[#fa5a15] decoration-2 outline-none ring-zinc-500 hover:underline focus-visible:ring dark:text-[#fa5a15] dark:ring-zinc-200 dark:focus:outline-none"
                data-hs-overlay={config.loginBtnDataHS}
              >
                {config.loginBtn}
              </button>
            </p>
          </div>

          <div class="mt-5">
            <GoogleBtn title="Sign up with Google" />

            <div
              class="flex items-center py-3 text-xs uppercase text-neutral-400 before:me-6 before:flex-[1_1_0%] before:border-t before:border-neutral-200 after:ms-6 after:flex-[1_1_0%] after:border-t after:border-neutral-200 dark:text-neutral-500 dark:before:border-neutral-600 dark:after:border-neutral-600"
            >
              Or
            </div>

            <form>
              <div class="grid gap-y-4">
                <EmailInput id="register-email" />
                <PasswordInput
                  id="create-password"
                  ;
                  errorId="password-error"
                  content="8+ characters required"
                />
                <PasswordInput
                  label="Confirm Password"
                  id="confirm-password"
                  ;
                  errorId="confirm-password-error"
                  aria="confirm-password-error"
                  content="Password does not match the password"
                />

                <Checkbox label="I accept the " , id="terms-agree">
                  <a
                    class="font-medium text-[#fa5a15] decoration-2 hover:underline dark:text-[#fa5a15] dark:focus:outline-none"
                    href="#">Terms and Conditions</a
                  >
                </Checkbox>

                <AuthBtn title="Sign up" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
