---
import TestimonialGeneral from './TestimonialItemAlt.astro';
import Collapse from '../misc/Collapse.astro';

import { getCollection, getEntries, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { capitalize, formatDate } from "@utils/utils";


// Define TypeScript interface for props
interface Props {
  title: string;
  testimonials: CollectionEntry<'testimonials'>[];
}
// Define props from Astro
const { title, testimonials } = Astro.props;

// Define TypeScript interface for Testimonial
let testimonials1;
let testimonials2;
const middle = Math.floor(testimonials.length/2)

if (testimonials.length !== 1) {
  testimonials1 = testimonials.slice(0, middle)
  testimonials2 = testimonials.slice(middle, testimonials.length)
} else {
  testimonials1 = testimonials
}
---
<!-- Main div that wraps the testimonials section -->
<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  id="testimonials"
>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-12">
  <div class="col-span-1 space-y-6 lg:space-y-12">
    {
      testimonials1.map(async (t, i) => {
       const rawContent = t.rendered?.html.split("\n")
       const firstHalf = rawContent?.slice(0, 1)[0]
       const secondHalf = rawContent?.slice(1).join('\n')
       return (
       <TestimonialGeneral
        name={t.data.name}
        date={formatDate(t.data.date)}
        svg={t.data.svg}
        typeOf={t.data.type}
        index={i + 1}
       >
        <Collapse
        id={`collapse_${t.id.substring(3)}`}>
        <Fragment set:html={firstHalf} slot="show"></Fragment>
        <Fragment set:html={secondHalf}></Fragment>
        </Collapse>
       </TestimonialGeneral>
        
       )
      }
     )}
  </div>
  <div class="col-span-1 space-y-6 lg:space-y-12">
    { testimonials2 && 
      testimonials2.map(async (t, i) => {
       const rawContent = t.rendered?.html.split("\n")
       const firstHalf = rawContent?.slice(0, 1)
       const secondHalf = rawContent?.slice(1).join('\n')
       return (
       <TestimonialGeneral
        name={t.data.name}
        date={formatDate(t.data.date)}
        svg={t.data.svg}
        typeOf={t.data.type}
        index={i + middle + 1}
       >
        <Collapse
        id={`collapse_${t.id.substring(3)}`}>
        <Fragment set:html={firstHalf} slot="show"></Fragment>
        <Fragment set:html={secondHalf}></Fragment>
        </Collapse>
       </TestimonialGeneral>
        
       )
      }
     )}
  </div>
</div>
</section>
