---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
import { Image } from 'astro:assets';
import valantic from '/src/images/homepage/valantic.png';
import nagarro from '/src/images/homepage/nagarro.png';
import turbine from '/src/images/homepage/turbine.png';
import towa from '/src/images/homepage/towa.png';

---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/2">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <section class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <a href="/blog/post-1/"><Image src={turbine} alt="Turbine" width="140" height="50" /></a>

    <!-- Second -->
    <a href="https://commercequest.space/events/32-spryker-hackathon-powered-by-nagarro-in-person"><Image src={nagarro} alt="Nagarro" width="140" height="50" /></a>
    <!-- Third -->
    <a href="https://commercequest.space/discussions?tagID=96"><Image src={towa} alt="Towa" width="140" height="50" /></a>

    <!-- Fourth -->
    <a href="/blog/post-2/"><Image src={valantic} alt="valantic" width="140" height="50" /></a>

  </div>
</section>
