---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
import { Image } from 'astro:assets';
import spryker from '/src/images/homepage/spryker_horizontal_grey.png';
import oryx from '/src/images/homepage/oryx_horizontal_grey.png';
import propel from '/src/images/homepage/propel_horizontal_grey.png';

---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/2">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Platforms Group SVGs -->
    <!-- First -->
    <a href="/spryker"><Image src={spryker} alt="Spryker" width="140" height="50" /></a>

    <!-- Second -->
    <a href="/oryx"><Image src={oryx} alt="Oryx" width="120" height="30" /></a>
  
    <!-- Third -->
    <a href="/propel"><Image src={propel} alt="Propel" width="120" height="30" /></a>

  </div>
</section>
