---
const {
  heading,
  content,
  address,
  addressContent,
  link,
  linkTitle,
  linkURL,
  arrow,
} = Astro.props;

interface Props {
  heading?: string;
  content?: string;
  address?: boolean;
  addressContent?: string;
  link?: boolean;
  linkTitle?: string;
  linkURL?: string;
  arrow?: boolean;
}
---

<div class="flex gap-x-7 py-6">
  <slot />
  <div class="grow">
    <h3 class="font-bold text-neutral-700 dark:text-neutral-300">
      {heading}
    </h3>
    <p class="mt-1 text-sm text-neutral-600 dark:text-neutral-400">{content}</p>
    {
      address ? (
        <p class="mt-1 text-sm italic text-neutral-500">{addressContent}</p>
      ) : null
    }
    {
      link ? (
        <a
          class="group mt-2 inline-flex items-center gap-x-2 rounded-lg text-sm font-medium text-zinc-600 outline-none ring-zinc-500 transition duration-300 hover:text-zinc-800 focus-visible:ring dark:text-zinc-400 dark:ring-zinc-200 dark:hover:text-zinc-200 dark:focus:outline-none dark:focus:ring-1 "
          href={linkURL}
        >
          {linkTitle}
          {arrow ? (
            <svg
              class="h-4 w-4 flex-shrink-0 transition ease-in-out group-hover:translate-x-1"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
            </svg>
          ) : null}
        </a>
      ) : null
    }
  </div>
</div>
