---
// Import PrimaryCTA component
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";

// Destructure the props passed to the Astro component
const { title, subTitle, btnExists, btnTitle, btnURL, center, padding, id, accent} = Astro.props;
// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  center?: boolean;
  padding?: boolean;
  id?: string;
  accent?: string;
}

let sectionClassList = "mx-auto max-w-[85rem] px-4 sm:px-6 lg:px-8 2xl:max-w-full"
let titleClassList = "max-w-(--breakpoint-md) relative"
let subTitleClassList = "mb-8 max-w-prose text-pretty font-normal text-neutral-600 dark:text-neutral-400 sm:text-xl"

if (center) {
  sectionClassList += ' lg:text-center'
  titleClassList += " mx-auto"
  subTitleClassList += ' mx-auto'
} 

if (padding) {
  sectionClassList += " py-10 sm:py-16 lg:py-14"
} else {
  sectionClassList += " pt-10 sm:pt-16 lg:pt-14"
}
---

<!-- Root section of the component -->
<section
  class={sectionClassList}
  id={id}
>
  <div class={titleClassList}>
    <div class:list={accent} class="w-25 h-25 absolute -top-8 -left-6 -z-1 block rounded-full">

    </div>
    <!-- Section title -->
    <h1
      class:list={[{'text-4xl font-bold': center, 'text-5xl font-extrabold tracking-tight': !center}]}
      class="mb-4 text-balance text-neutral-800 dark:text-neutral-200"
    >
      {title}
    </h1>
    <!-- Section subtitle -->
    <p
      class={subTitleClassList}
    >
      <Fragment set:html={subTitle} />
    </p>
    <!-- Conditional rendering of PrimaryCTA component if 'btnExists' property is truthy -->
    {
      btnExists ? (
        <div class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
          <PrimaryCTA title={btnTitle} url={btnURL} icon="whatsapp-line"/>
        </div>
      ) : null
    }
  </div>
  <slot />
</section>
