---
// Import the necessary dependencies.
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define the variables that will be used in this component
const title: string = "Contactează-ne";
const subTitle: string =
  "Ai întrebări despre cum te putem ajuta? Contactează-ne și vom încerca să îți răspundem în cel mai scurt timp";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 divide-y divide-neutral-300 dark:divide-neutral-700">
      <ContactIconBlock
        heading="Telefon/WhatsApp"
        content="Ne poți suna sau contacta pe WhatsApp"
        isLinkVisible={true}
        linkTitle="+40744345643"
        linkURL="https://wa.me/40744345643"
        isArrowVisible={true}
        ><Icon name="chatBubble" />
      </ContactIconBlock>

      <ContactIconBlock
        heading="Vizitează-ne"
        content="Health Academy"
        isAddressVisible={true}
        addressContent="Piata Cipariu 11"
        ><Icon name="mapPin" />
      </ContactIconBlock>

      <ContactIconBlock
        heading="Email"
        content="Preferați să ne scrieți?"
        isLinkVisible={true}
        linkTitle="support@healthacademy.ro"
        linkURL="#"
        ><Icon name="envelopeOpen" />
      </ContactIconBlock>
    </div>
  </div>
</section>
