---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import LeftSection from "@components/ui/blocks/LeftSection.astro";
import RightSection from "@components/ui/blocks/RightSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import User from "@components/sections/features/UserProfile.astro";
import features from "@data/features.json";
import TwoColumn from "@components/sections/misc/TwoColumnSection.astro";
// Import necessary images
import blueprints from "@images/about2.jpg";
import julene from "@images/mum.jpg";
import ellen from "@images/about1.jpg";
import about3_1 from "@images/lht6.jpg";
import about3_2 from "@images/lht8.jpg";

import personWorking from "@images/community-4.png";
import constructionWorkers from "@images/lht7.png";
import progressBuilding from "@images/lht5.jpg";
import { SITE } from "@data/constants";
import { Icon } from 'astro-icon/components'

interface Article {
  isRightSection: boolean;
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: any;
  imgAlt?: string;
  imgOne?: any;
  imgOneAlt?: string;
  imgTwo?: any;
  imgTwoAlt?: string;
}

const articles: Article[] = [
  {
    isRightSection: true,
    title: "Our Founding Story",
    subTitle:
      "Julene founded Learning Hearts Therapy almost 20 years ago out of her home 'Montessori'. Then, an endearing little boy with ASD came to her for help, igniting a special calling in teaching - and the rest is history.",
    single: false,
    imgOne: blueprints,
    imgOneAlt: "Blueprints and digital tablet with construction plans.",
    imgTwo: personWorking,
    imgTwoAlt: "Person working in the office",
    btnExists: true,
    btnTitle: "Team",
    btnURL: "#team",
  },
  {
    isRightSection: false,
    title: "Teaching approach and methodology",
    subTitle:
      "Here at Learning Hearts Therapy, we do not utilize any pre-packaged reading programme. Instead, our approach is to teach the way children learn, rather than expect them to learn the way we teach.",
    img: progressBuilding,
    imgAlt: "In progress building structure",
    btnExists: true,
    btnTitle: "Read more",
    btnURL: "#features",
  },
  {
    isRightSection: true,
    title: "No challenge is too great",
    subTitle:
      "Julene finds the greatest challenge and satisfaction in helping children with learning difficulties. She has worked with children diagnosed with mild ASD, ADHD, Dyslexia, Dyspraxia, and SLI, as well as those from broken, troubled and disadvantaged backgrounds.",
    single: false,
    imgOne: about3_1,
    imgOneAlt: "Blueprints and digital tablet with construction plans.",
    imgTwo: about3_2,
    imgTwoAlt: "Person working in the office",
    btnExists: false,
    btnTitle: "Learn More",
    btnURL: "#",
  },
  {
    isRightSection: false,
    title: "Our promise",
    subTitle:
      "Julene believes firmly in the transfer of knowledge to all people who work with and nurture children, hence the many workshops she has conducted for both parents and teachers, to empower them to help children acquire critical reading and numeracy strategies.",
    img: constructionWorkers,
    imgAlt: "Construction workers orchestrating a project",
  },

];

const pageTitle: string = `About Us | ${SITE.title}`;
const metaDescription =
  "All our Therapists have corporate experience, allowing them to better bridge academic learning to real-world applications.";
const ogTitle = "About | Learninghearts";
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/services",
    url: "https://screwfast.uk/services",
    name: "Expert Consultation Services | ScrewFast",
    description:
      "The programme at Learning Hearts Therapy is the by-product of her genuine passion and in-depth experience in the areas of foundational reading and numeracy development. All our Therapists have corporate experience, allowing them to better bridge academic learning to real-world applications.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "ScrewFast",
      description:
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  {/* MainSection is the introductory section of the page, it also contains a CTA button */}
  <MainSection
    title="Education Tailored To Your Child."
    subTitle="The programme at Learning Hearts Therapy is the by-product of her genuine passion and in-depth experience in the areas of foundational reading and numeracy development. All our Therapists have corporate experience, allowing them to better bridge academic learning to real-world applications."
    btnExists={false}
    btnTitle="Schedule a Consultation"
    btnURL="#"
  />
  {/* RightSection and LeftSection contain details about various services along with pertinent imagery.
  They alternate for variety in design.
  The 'btnExists' property is used to toggle the display of a button in these sections.
  When btnExists={true}, a button is displayed.
  This can be used to link to more detailed information or related resources.
  RightSection can also conditionally render one or two images based on the 'single' property.
  If 'single' is true, it displays one image, otherwise it displays two.
  */}
  {
    articles.map((article) => {
      return article.isRightSection ? (
        <RightSection
          title={article.title}
          subTitle={article.subTitle}
          single={article.single}
          imgOne={article.imgOne}
          imgOneAlt={article.imgOneAlt}
          imgTwo={article.imgTwo}
          imgTwoAlt={article.imgTwoAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      ) : (
        <LeftSection
          title={article.title}
          subTitle={article.subTitle}
          img={article.img}
          imgAlt={article.imgAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      );
    })
  }
<FeaturesGeneral
title="Teaching Methodology"
subTitle="Our approach to education utilising our custom curriculum"
features={features}
id="features"
>
<Fragment slot="desc">
  <p>
    The Programme features and is aligned with what internationally recognised institutions and organisations (National Reading Panel, US; Department for Education, UK; National Council for Teachers of Mathematics) deem to be the 'best practices' in the teaching of foundational reading and numeracy skills for children.
  </p>
  <p class="mt-4">
    This includes the use of explicit, systematic, cumulative curricula and a multi-sensory approach, in addition to the integration of all sub-areas of learning (eg. reading, writing, spelling; mathematics in real life situations). Apart from these, the programme boasts of some special features:
  </p>
</Fragment>
</FeaturesGeneral>


<TwoColumn
title="The Team."
subTitle="Our team has dedicated many years in the pursuit of great education. They weren't however picked just for their qualifications, but more importantly for their innate ability to inspire, and passion for imparting a love for learning in their students, versus simply scoring in exams."
id="team"
>
<Fragment slot="colLeft">
  <User
  title="Julene Tan"
  subTitle="Principal therapist"
  src={julene}
  alt="Julene"
>
<p>
  For over 10 years, Julene was the in-house reading specialist consultant at CHIJ Kellock where she taught P1 and P2 students and trained the teachers. Prior to these engagements, Julene was a part-time reading therapist with an established dyslexia remediation centre in Camden Medical Centre.
</p>
<p class="mt-4">
  Certifications:
</p>
<ul class="my-4 leading-7">
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">Bachelor's degree from the National University of Singapore (Majoring in Linguistics/Geography)</li> 
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">Masters in Counselling from Monash University</li>
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">Masters in Education (Special Education) from Flinders University, Adelaide</li>
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">Diploma(distinction) in Early Childhood Education from the Montessori Centre International London</li>
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">Post-graduate specialist diploma in Specific Learning Difficulties (Dyslexia) from the renowned Hornsby International Dyslexia Centre in London</li> 
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">British Psychological Society, Certified Test User</li> 
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">Certified teacher for the Mymind programme, trained at Centrum Voor Mindfuless, Amsterdam</li>
  <li class="border-b-1 pl-4 border-b-gray-200 py-4">Oxford Mindfulness Centre Mindfulness-based cognitive Therapy teacher trained</li>
</ul>
</User>

</Fragment>
<Fragment slot="colRight">
  <User
  title="Ellen Ong"
  subTitle="Therapist"
  src={ellen}
  alt="ellen"
>
<p>
  Ellen started as an in-house legal counsel in Jakarta, Indonesia before moving to Singapore where she practised mainly as a compliance officer in various banks, stock broking firms and fund management companies.     
</p>
<p class="mb-4">
  Ellen met Julene at a workshop empowering parents to teach children reading and wanted to learn more about teaching her own child. Julene invited Ellen to observe her teaching at CHIJ Kellock and shortly after that, Ellen decided to give up her career and enter education.
</p>
<p class="mb-4">
  Ellen spent the first year observing Julene, shadowing her teaching. In 2010 when the reading hearts programme was taken up by Shu Qun primary for all P1 and P2 pupils, Ellen joined the team to deliver it. Following that, Ellen took a sabbatical to have and take care of her second child and rejoined Julene in 2014 just before they started teaching the programme at Queenstown primary school. In 2015, they both decided to concentrate their energies on the children struggling with reading disabilities, stopping the school-based programme to focus entirely on educational therapy work. Ellen has been teaching with Julene ever since, now with a post-graduate certiificate in supporting children with specific learning difficulties, Dyslexia Action, UK.
</p>
<p class="my-12 mt-10 text-gray-600 d-block mx-auto w-11/12 blockquote">
  "There is so much fulfillment in helping children with learning difficulties read fluently and spell accurately. It is a satisfying accomplishment when a child overcomes his or her learning difficulty and is more confident in reading and spelling and especially in themselves."
</p>
<p class="mb-4">
  Ellen has found deep purpose in contributing to the well being of the children she teaches, and continues to invest in professional training and development to better help and support them.
</p>
</User>
</Fragment>
</TwoColumn>

</MainLayout>
