---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import ContactSection from "@components/sections/misc/ContactSection.astro";
import { SITE } from "@data/constants";
import contact1 from "@images/lht11.jpg";
import contact2 from "@images/lht12.jpg";
import contact3 from "@images/lht9.jpg";

const pageTitle: string = `Contact | ${SITE.title}`;
const metaDescription =
  "Have questions or want to discuss a project? Reach out, and let's craft the perfect solution with our tools and services.";
const ogTitle = "Contact Us | Learning Hearts";
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://learning-hearts.com/contact",
    url: "https://learning-hearts.com/contact",
    name: "Contact Us | Learning Hearts",
    description:
      "Have questions or want to discuss a project? Reach out, and let's craft the perfect solution with our tools and services.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://learning-hearts.com",
      name: "Learning Hearts",
      description:
        "Learning Hearts offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>

  <ContactSection />
  <section class="pb-12">

    <div class="grid grid-cols-1 lg:grid-cols-5 gap-12">
      <div>
        
      </div>
      <Image
      src={contact1}
      alt="alt 1"
      class="rounded-xl"
  />
      <Image
      src={contact2}
      alt="alt 1"
      class="rounded-xl"
  />
      <Image
      src={contact3}
      alt="alt 1"
      class="rounded-xl"
  />
    </div>
  </section>
</MainLayout>
