---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/lht2.jpg";
import heroImage2 from "@images/lht9.jpg";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/drawing_t.png";
import construction from "@images/construction-image.avif";
import tools from "@images/lht3.jpg";
import dashboard from "@images/lht1.jpg";
import { partnersData } from "@/data_files/constants";
import { Icon } from 'astro-icon/components'
import type { ArrayCardinality } from "astro:schema";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];


---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Sign up for our upcoming course!"
    url="#"
    enable={false}
  />

  <HeroSection
    title=`With more than <br> <span
        class="text-lht dark:text-neutrral-400">20 Years</span> of experience`
    subTitle=""
    primaryBtn="Lit Alive! Workshop"
    primaryBtnURL="/programmes#workshop"
    secondaryBtn="Pricing"
    secondaryBtnURL="/services"
    withReview={false}
    avatars={avatarSrcs}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of Learning Hearts product boxes containing assorted hardware tools"
    src2={heroImage2}
    alt2="Stack of Learning Hearts product boxes containing assorted hardware tools"
  >
  <p>

    The learning hearts team has the expertise to teach the way your child learns, not forcing them to learn the way we teach. 
  </p>
  <p>

    Our facilitators are not career-teachers - each brings <strong>robust academic training</strong>  plus <em>years</em> of extensive and interesting corporate work experience. Hence we are able to offer unmatched, best-in-class teaching that connects to and prepares for real life!
  </p>
  </HeroSection>


<!--   <ClientsSection
    title="Trusted by many"
    subTitle="With partnerships across multiple sectors."
    partners={partnersData}
  /> -->

<!--   <FeaturesGeneral
    title="Closing the gap in education"
    subTitle=""
    src={featureImage}
    alt="Learning Hearts products in floating boxes"
    features={features}
  /> -->

  <FeaturesNavs
    title=`
    Help us at <span class="text-lht dark:text-yellow-400">Learning Hearts</span> to help you with the difficulties you are facing.`
    tabs={[
      {
        heading: "Our Mission",
        content:
          "is to get to know each child as an individual and provide for his/her total development accademically, socially, and emotionally.",
        svg: "mingcute:aiming-2-fill",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Our Aim",
        content:
          "is to ensure that every child in need of help can get the help they deserve, and find the confidence to tackle learning head on.",
        svg: "mingcute:aiming-2-fill",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
    ]}
  />

  <ClientsSection title="Our Students" subTitle="Come from all different kinds of schools"/>

  <TestimonialsSection
    title="Take control of your child's future today"
    subTitle="At Learning Hearts, we believe that intervention in your child's education at the earlist stage possible is crucial to his/her future development."
    ;
    testimonials={[
      {
        content:
          "Julene and Learning Hearts have been able to coax from my daughter mathematical skills she never knew she possessed. As a Math graduate myself, I was enthralled when I found that my daughter now has confidence in her mental arithmetic and isn't cowed by difficult word problems.",
        author: "C. Lim",
        role: "Parent | 7-Year Old child",
        },
    ]}
    statistics={[
      {
        count: "20+",
        description:
          "Years of offering professional help to clients",
      },
      {
        count: "100%",
        description:
          "Satisfaction rate among clients who have journeyed with us",
      },
      {
        count: "8",
        description:
          "masters degrees across Psychology, Educational Therapy, and behavioural studies",
      },
      {
        count: ">100",
        description: "Students who have journeyed with us and found confidence in themselves",
      },
    ]}
  />

<!--   <PricingSection pricing={pricing} /> -->

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

</MainLayout>
