---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/CQ_Vegas_Sticker.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/Asteroids.png";
import construction from "@images/community-3.jpg";
import tools from "@images/community-1.jpg";
import dashboard from "@images/community-2.jpg";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore our CommerceQuest Forum"
    url="https://commercequest.space/"
  />

  <HeroSection
    title=`Hack, <span
    class="text-pink-500 dark:text-pink-400">Build</span>, <span
        class="text-blue-500 dark:text-blue-400">Win</span>.`
    subTitle="Commerce Resources for the driven Spryker, Propel & Oryx developer."
    primaryBtn="Explore community tools"
    primaryBtnURL="/products"
    secondaryBtn="Upcoming events"
    secondaryBtnURL="https://commercequest.space/events/category"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Developers rating our events`
    src={heroImage}
    alt="Oskar in an astronaut suit"
  />

  <ClientsSection
    title="Build with our Solution & Technology Partners"
    subTitle="Join engineers, architects and commerce experts from all over the world."
  />

  <FeaturesGeneral
    title="Igniting Community. Celebrating Contributors."
    subTitle="Spryker is reenergizing its pull request and contributions process for fast acknowledgment of contributed code or documentation updates. Starting today, we’re excited to kickstart a new era of collaborative development with the wider Spryker community!"
    src={featureImage}
    alt="Products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Why attend community <span class="text-blue-500 dark:text-blue-400">events</span>?`
    tabs={[
      {
        heading: "Collaborative Innovation",
        content:
          "Make it easier to work with Spryker, and create a more attractive ecosystem.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Learning in practice",
        content:
          "Practical challenges. You learn from us, we learn from you.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Get to know your peers & have fun!",
        content:
          "Build your network, solve problems better and faster.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At CommerceQuest, we ensure a swift start of your developer journey. Experience the power of community."
    ;
    testimonials={[
      {
        content:
          "Oryx dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in commerce and support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "50+",
        description:
          "Community repositories — from Translation to OpenTelemetry and AI",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with Community tools",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "MIT",
        description: "A license to make community collaboration easy",
      },
    ]}
  />

<!-- <PricingSection pricing={pricing} /> --> 

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Spryker is a meticulously crafted open commerce platform."
    url="https://github.com/spryker-community"
  />
</MainLayout>
