---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import PartnersSection from "@components/sections/landing/PartnersSection.astro";
import PlatformsSection from "@components/sections/landing/PlatformsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/SPRYKER_EXCITE_2023--27.jpg";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/Asteroids.png";
import construction from "@images/community-3.jpg";
import tools from "@images/community-1.jpg";
import dashboard from "@images/community-2.jpg";
import jacob from "@images/blog/jacob.avif";
import anna from "@images/blog/anna.avif";
import brad from "@images/blog/brad.avif";

const avatarSrcs: Array<string> = [
  jacob,
  brad,
  anna,
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore our CommerceQuest Forum"
    url="https://commercequest.space/"
  />

  <HeroSection
    title=`Hack, <span
    class="text-pink-500 dark:text-pink-400">Build</span>, <span
        class="text-blue-500 dark:text-blue-400">Win</span>.`
    subTitle="Community-driven tools, guides & support for the driven Spryker, Propel & Oryx engineer."
    primaryBtn="Explore community tools"
    primaryBtnURL="https://github.com/orgs/spryker-community/repositories"
    secondaryBtn="Community guides"
    secondaryBtnURL="/guides/intro"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Developers rating our events`
    src={heroImage}
    alt="CommerceQuest namebadge"
  />

  <PlatformsSection
    title="Optimized, Efficient Enterprise Commerce..."
    subTitle="Community of Commerce Experts, Developers, Engineers and Architects building the future of commerce."
  />

  <PartnersSection
  title="...build with our Solution & Technology Partners"
  subTitle="Join our community and events with engineers, architects and commerce experts from all over the world."
  />

  <FeaturesGeneral
    title="Igniting Community. Celebrating Contributors."
    subTitle="We are reenergizing the Spryker pull request and contributions process for fast acknowledgment of contributed code or documentation updates. Starting today, we’re excited to kickstart a new era of collaborative development with our wider Spryker community!"
    src={featureImage}
    alt="Products in floating boxes"
    features={features}
  />



  <FeaturesNavs
    title=`Why attend community <span class="text-blue-500 dark:text-blue-400">events</span>?`
    tabs={[
      {
        heading: "Collaborative Innovation",
        content:
          "Make it easier to work with Spryker, and create a more attractive ecosystem.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Learning in practice",
        content:
          "Practical challenges. You learn from us, we learn from you.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Get to know your peers & have fun!",
        content:
          "Build your network, solve problems better and faster.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Community makes the dream work"
    subTitle="With open source contributions from all over the world, we tackle commerce projects with commit by commit and make it available to everyone.";
    testimonials={[
      {
        content:
          "The hackathon dramatically boosted my knowledge of Spryker. I was able to learn from the best and get hands-on with our specific coding challenge. I can't wait for the next one!",        author: "Maher H.",
        role: "Full Stack Developer | Meesenburg International",
        avatarSrc:
          anna,
      },
    ]}
    statistics={[
      {
        count: "50+",
        description:
          "Community repositories — from Translation to OpenTelemetry and AI",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with Community tools",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "MIT",
        description: "A license to make community collaboration easy",
      },
    ]}
  />

<!-- <PricingSection pricing={pricing} /> --> 

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Help crafting an open commerce ecosystem."
    url="https://github.com/spryker-community"
  />
</MainLayout>
