---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import heroImage from "@images/banner.png";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const promoSource ="/public/media/video_promotion.mp4";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <HeroSection
    title=`Centralize your chats with <span
        class="text-yellow-500 dark:text-yellow-400">Kasumi CRM</span>`
    subTitle="Centralize your chats into columns, automatically assign them to your sales and customer support teams 🚀."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="View Demo"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Kasumi CRM a CRM for Whatsapp, Instagram and more..."
  />

  <video 
  src={promoSource} 
  muted 
  autoplay 
  loop 
  playsinline 
  controls
></video>
  <FeaturesGeneral
    title="Discover the benefits that Kasumi offers you!"
    subTitle="Streamline your customer communication with our all-in-one messaging CRM. Seamlessly manage conversations across WhatsApp, Facebook, and Instagram from a single, intuitive platform. Our powerful tool helps you build stronger relationships, boost engagement, and drive sales by centralizing your social messaging channels."
    alt="Kasumi features in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`<span class="text-yellow-500 dark:text-yellow-400">Kasumi CRM</span>: Key Features to Supercharge Your Lead Generation.`
    tabs={[
      {
        heading: "Unlimited Message Sending",
        content:
          "Send personalized messages to all your customers without limits.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "No user limits",
        content:
          "Hire as many users as you need and have your team all in one place.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Message Scheduling",
        content:
          "Schedule messages like personalized reminders to your customers.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Custom Funnels",
        content: "Organize your chats into all the custom funnels you need.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <HeroSectionAlt
    title="Revolutionize Your Customer Relationships"
    subTitle="Kasumi CRM: Seamlessly manage WhatsApp conversations, automate workflows, and leverage AI insights to skyrocket your lead generation."
    url="#get-started"
  />
</MainLayout>
