---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import LeftSection from "@components/ui/blocks/LeftSection.astro";
import RightSection from "@components/ui/blocks/RightSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro"; 
import TestimonialGeneral from "@components/sections/testimonials/TestimonialItemAlt.astro"; 
import features from "@data/features.json";
import TwoColumn from "@components/sections/misc/TwoColumnSection.astro";
import Collapse from "@components/sections/misc/Collapse.astro"
import { capitalize, formatDate } from "@utils/utils";
// Import necessary images
import blueprints from "@images/blueprints-image.avif";
import personWorking from "@images/person-working.avif";
import beforeAfter from "@images/before-after.avif";
import quotes from "@images/quotes.svg";
import quotes_rev from "@images/quotes-flipped.svg";
import constructionWorkers from "@images/construction-workers.avif";
import aerialView from "@images/aerial-view.avif";
import usingTools from "@images/using-tools.avif";
import progressBuilding from "@images/progress-building.avif";
import underConstruction from "@images/under-construction.avif";
import { SITE } from "@data/constants";
import { Icon } from 'astro-icon/components'

import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

const testimonials = await getCollection('testimonials');
const middle = Math.floor(testimonials.length/2)
const testimonials1 = testimonials.slice(0, middle)
const testimonials2 = testimonials.slice(middle, testimonials.length)

const pageTitle: string = `About Us | ${SITE.title}`;
const metaDescription =
  "The programme at Learning Hearts Therapy is the by-product of her genuine passion and in-depth experience in the areas of foundational reading and numeracy development.";
const ogTitle = "Expert Therapy Services | Learning Hearts";
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://learning-hearts.com/services",
    url: "https://learning-hearts.com/services",
    name: "Expert Therapy Services | Learning Hearts",
    description:
      "The programme at Learning Hearts Therapy is the by-product of her genuine passion and in-depth experience in the areas of foundational reading and numeracy development.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://learning-hearts.com",
      name: "Learning-hearts",
      description:
        "Learning Hearts offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  {/* MainSection is the introductory section of the page, it also contains a CTA button */}

<RightSection
  title="Testimonials and words of approbation"
  subTitle="The programme at Learning Hearts Therapy has been running for many years. Hear from some of our students and their parents on their experiences."
  imgOne={quotes}
  imgTwo={quotes_rev}
  single={false}
  imgOneAlt="srtrast"
  imgTwoAlt="srtrast"
  />

  <section
  class="mx-auto max-w-[85rem] px-4 pt-0 py-10 sm:px-6 lg:px-8 lg:py-14 lg:pt-0 2xl:max-w-full"
>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-12">
  <div class="col-span-1 space-y-6 lg:space-y-12">
    {
      testimonials1.map(async (t, i) => {
       const { Content } = await render(t)
       const rawContent = (t.body?.split("\r\n"))
       const firstHalf = rawContent?.slice(0, 1).join("\r\n")
       const secondHalf = rawContent?.slice(1)
       return (
       <TestimonialGeneral
        name={t.data.name}
        date={formatDate(t.data.date)}
        svg={t.data.svg}
        typeOf={t.data.type}
        index={i + 1}
       >
        <Collapse
        id=`collapse_${i}`>
        <Fragment slot="default">
          <p class="mb-4">
          {firstHalf}

          </p>
        </Fragment>
        <Fragment slot="collapse">
          {secondHalf && 
            secondHalf.map(i => {
              return(
                <p>
                  {i}
                </p>
              )
            })
          }
        </Fragment>
        </Collapse>
       </TestimonialGeneral>
        
       )
      }
     )}
  </div>
  <div class="col-span-1  space-y-6 lg:space-y-12">
    {
      testimonials2.map(async (t, i) => {
       const { Content } = await render(t)
       const rawContent = (t.body?.split("\r\n\r\n"))
       const firstHalf = rawContent?.slice(0, 1).join("\r\n")
       const secondHalf = rawContent?.slice(1)
       return (
       <TestimonialGeneral
        name={t.data.name}
        date={formatDate(t.data.date)}
        svg={t.data.svg}
        index={i + middle + 1}
       >
         <Collapse
        id=`collapse_${i+middle}`
        >
        <Fragment slot="default">
          <p class="mb-4">
          {firstHalf}

          </p>
        </Fragment>
        <Fragment slot="collapse">
          { secondHalf &&
            secondHalf.map(i => {
              return(
                <p>
                  {i}
                </p>
              )
            })
          }
        </Fragment>
        </Collapse>
       </TestimonialGeneral>
        
       )
      }
     )}
  </div>
</div>
</section>


</MainLayout>
