---
const { title, id, noArrow } = Astro.props;

interface Props {
    title?: string;
    id?: string;
    noArrow?: boolean;
}

const baseClasses = "group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-neutral-50 ring-zinc-500 transition duration-300 focus-visible:ring outline-none";
const borderClasses = "border border-transparent";
const bgColorClasses = "bg-[#fa5a15] hover:bg-[#e14d0b] active:bg-[#e14d0b] dark:focus:outline-none";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "dark:ring-zinc-200";
const arrowSVG = `<svg
                    class="h-4 w-4 flex-shrink-0 transition duration-300 group-hover:translate-x-1"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            >
                <path d="m9 18 6-6-6-6"></path>
            </svg>`;
---

<button
        class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses}`}
        id={id}
>
    {title}
    {noArrow ? null :
            <Fragment set:html={arrowSVG} />
    }
</button>