---
import { Icon } from 'astro-icon/components'
// Destructure the properties from Astro.props
const { title, url, icon, accent } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title: string;
  url: string;
  icon: string;
  accent: string;
}
// Define constants for styling classes
const BUTTON_CLASS =
  `py-2 px-4 inline-flex items-center gap-x-1 text-xs font-medium rounded-full border bg-white border-${accent}-500 hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700`;
---

<!-- Tab button element -->
<a
  type="button"
  class={BUTTON_CLASS}
  href={url}
  role="tab"
>
  <Icon name=`mingcute:${icon}` size="20" class="text-neutral-400 mr-2"/>
  <!-- Tab text -->
  <span
    class=`text-${accent}-500`
  >
    {title}
  </span>
</a>
