---
// Import the necessary dependencies.
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define the variables that will be used in this component
const title: string = "Liên hệ với chúng tôi";
const subTitle: string =
  "Bạn có câu hỏi hoặc muốn trao đổi về một dự án? Hãy liên hệ với chúng tôi để cùng xây dựng giải pháp hoàn hảo bằng các công cụ và dịch vụ của ScrewFast.";
const formTitle: string = "Vui lòng điền vào biểu mẫu bên dưới";
const formSubTitle: string =
  "Chúng tôi sẽ phản hồi bạn trong vòng 1–2 ngày làm việc.";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2
          class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>

        <!-- Form for user input with various input fields. -->
        <form>
          <div class="grid gap-4">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <TextInput
                id="hs-firstname-contacts"
                label="Tên"
                name="hs-firstname-contacts"
              />
              <TextInput
                id="hs-lastname-contacts"
                label="Họ"
                name="hs-firstname-contacts"
              />
            </div>
            <EmailContactInput id="hs-email-contacts" />
            <PhoneInput id="hs-phone-number" />
            <TextAreaInput
              id="hs-about-contacts"
              label="Nội dung chi tiết"
              name="hs-about-contacts"
            />
          </div>

          <div class="mt-4 grid">
            <button
              type="submit"
              class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-transparent bg-yellow-400 px-4 py-3 text-sm font-bold text-neutral-700 focus-visible:ring-3 outline-hidden transition duration-300 hover:bg-yellow-500 dark:focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 ring-zinc-500 dark:ring-zinc-200 2xl:text-base"
            >
              Gửi tin nhắn
            </button>
          </div>

          <div class="mt-3 text-center">
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              {formSubTitle}
            </p>
          </div>
        </form>
      </div>

      <!-- Contact information blocks -->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
        <ContactIconBlock
          heading="Cơ sở tri thức"
          content="Khám phá toàn bộ các bài viết trong kho kiến thức của chúng tôi."
          isLinkVisible={true}
          linkTitle="Xem hướng dẫn và tài liệu"
          linkURL="#"
          isArrowVisible={true}
          ><Icon name="question" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="Câu hỏi thường gặp"
          content="Xem mục FAQ để nhận câu trả lời nhanh chóng và rõ ràng cho các thắc mắc phổ biến."
          isLinkVisible={true}
          linkTitle="Truy cập FAQ"
          linkURL="#"
          isArrowVisible={true}
          ><Icon name="chatBubble" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="Ghé thăm văn phòng của chúng tôi"
          content="ScrewFast UK"
          isAddressVisible={true}
          addressContent="72 Union Terrace, E10 4PE London"
          ><Icon name="mapPin" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="Liên hệ qua email"
          content="Bạn thích trao đổi bằng văn bản? Hãy gửi email cho chúng tôi tại"
          isLinkVisible={true}
          linkTitle="support@screwfast.uk"
          linkURL="#"
          ><Icon name="envelopeOpen" />
        </ContactIconBlock>
      </div>
    </div>
  </div>
</section>
