---
// Import the necessary dependencies
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
import EmailFooterInput from "@components/ui/forms/input/EmailFooterInput.astro";
import enStrings from "@utils/navigation.ts";
import frStrings from "@utils/fr/navigation.ts";

import BrandLogo2 from "@components/BrandLogo2.astro";
import { SITE } from "@data/constants";
import { Icon } from 'astro-icon/components'

// Select the correct translation based on the page's lang prop:
const strings = Astro.currentLocale === "fr" ? frStrings : enStrings;

// Define the variables that will be used in this component
const sectionThreeTitle: string = Astro.currentLocale === "fr" ? "Rester à jour" : "Stay up to date";
const sectionThreeContent: string = Astro.currentLocale === "fr" ? "Restez informé des derniers outils et des offres exclusives." :
  "Stay updated with the latest tools and exclusive deals.";
const crafted: string = Astro.currentLocale === "fr" ? "Fabriqué par" : "Website template written by";
---

<footer class="w-full bg-gray-200 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[65rem] px-6 py-10 sm:px-6 lg:px-16 lg:pt-20 2xl:max-w-(--breakpoint-2xl)"
  >
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 justify-items-start">
      <div class="col-span-1 lg:mx-6 w-full justify-center grid">
        <!-- Brand Logo -->
        <BrandLogo2 class="h-auto w-32 lg:w-40" size="200px" />
      </div>
      <!-- An array of links for Product and Company sections -->
      {
        strings.footerLinks.map((section) => (
          <div class="col-span-1">
            <h3 class="font-bold text-lht dark:text-neutral-200">
              {section.section}
            </h3>
            <ul class="mt-3 grid space-y-3">
              {section.links.map((link, index) => (
                <li>
                  <a
                    href={link.url}
                    class="inline-flex gap-x-2 rounded-lg text-neutral-600 outline-hidden ring-zinc-500 transition duration-300 hover:text-neutral-500 focus-visible:ring-3 dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-neutral-300 dark:focus:outline-hidden"
                  >
                    {link.name}
                  </a>
                  {section.section === "Learning Hearts" && index === 3 ? (
                    <span class="ms-1 inline rounded-lg bg-cyan-500 px-2 py-1 text-xs font-bold text-neutral-50">
                      Starting soon!
                    </span>
                  ) : null}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>

    <div
      class="mt-12 grid gap-y-2 sm:mt-12 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
    >
      <div class="flex items-center justify-between">
        <p class="text-sm text-neutral-600 dark:text-neutral-400">
          © <span id="current-year"></span> {SITE.title}. {crafted}
          <a
            class="rounded-lg font-medium underline underline-offset-2 outline-hidden ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-hidden focus-visible:ring-3 dark:ring-zinc-200 dark:hover:text-neutral-300"
            href="https://www.gulamoff.dev/"
            target="_blank"
            rel="noopener noreferrer">gulamoff</a
          >.
        </p>
      </div>

      <!-- Social Brands 
      <div>
        <FooterSocialLink url={strings.socialLinks.facebook}
          ><Icon name="mingcute:airplane-fill" />
        </FooterSocialLink>

        <FooterSocialLink url={strings.socialLinks.google}
          ><Icon name="mingcute:airplane-fill" />
        </FooterSocialLink>
      </div>
      -->
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
